@model UniStore.Models.EntityModels.Manufacturer

@{
    ViewBag.Title = "Manufacturers";
}

<h2>Details</h2>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "All", null, new { @class = "btn btn-success" })
</p>
