@using UniStore.Models
@model UniStore.Models.ViewModels.Order.OrdersListVM


@if (Model.Orders.Any())
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Total)
            </th>
            <th></th>
        </tr>

        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Total)
                </td>
                <td>
                    @Html.ActionLink("User orders", "Orders", new { username=@order.User.UserName }, new { @class = "btn btn-sm btn-success" })
                </td>
            </tr>
        }

    </table>
}

@Html.Partial("Partials/PaginationAjax", Model.Pagination,
    new ViewDataDictionary
    {
        { "ActionName", "OrdersList" },
        { "TargetId", Constants.ContainerOrderListId }
    })    


