@using UniStore.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/content/favicon.ico?1")" />
    <title>@ViewBag.Title - UniStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("UniStore", "Store", "Store", new { area = "" }, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                @Html.Partial("Partials/AdminMenuPartial")

            </ul>
            @Html.Partial("Partials/LoginPartial")
        </div>
    </nav>
    <div>
        <span id="@Constants.AjaxLoadingId" class="ajax-loading"></span>
    </div>

    <div id="@Constants.ContainerBodyId" class="container body-content">
        @RenderBody()
    </div>
    <footer id="footer">
        <p class="text-center text-info">UniStore &copy; @DateTime.Now.Year Krasimir Malakov</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/myscripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

</body>
</html>