@using UniStore.Models

@{
    ViewBag.Title = "Store";
}

<div id="@Constants.ContainerStoreId">

    <div id="messages" class="row"></div>
    <div id="" class="row">
        <div id="@Constants.ContainerStorePanelId" class="col-md-2">
            @Html.Action("DepartmentsPanel", "Departments")
        </div>
        <div id="@Constants.ContainerStoreProductsId" class="col-md-10">
            <div>
                @Ajax.ActionLink("self-call-ajax-request", "ProductsList", "Store",
                    null,
                    new AjaxOptions
                    {
                        UpdateTargetId = Constants.ContainerStoreProductsId,
                        HttpMethod = "GET",
                        LoadingElementId = Constants.AjaxLoadingId,
                        LoadingElementDuration = 400
                    },
                    new { id = "product-list-call", @class="hidden" })
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function() {
            $("#product-list-call").click();
        });
    </script>
}
@Scripts.Render("~/bundles/jqueryval")
